<main id="beerMain">
  <div id ="beer" style="height: 500px; width: 200px;">...</div>
      <div class="container1">
        <div class ="beer">
        <li ng-show="$ctrl.loading">
            <strong>Loading...</strong>
        </li>
        <div class ="pairing" ng-hide="$ctrl.loading">
        <h3>Sort By Pairing Rating (Highest To Lowest)</h3>
        <nav >
        <div>
          <a class="iconNav" ng-click="$ctrl.changeOrder('Javascript')"><img ng-src="/image/js.png" style="height:20px; width:20px;" data-toggle="tooltip" data-placement="top" title="Javascript"></a>
          <a class="iconNav" ng-click="$ctrl.changeOrder('Java')"><img ng-src="/image/java.png" style="height:30px; width:30px;" data-toggle="tooltip" data-placement="top" title="Java"></a>
          <a class="iconNav" ng-click="$ctrl.changeOrder('C')"><img ng-src="/image/C.png" style="height:30px; width:30px;" data-toggle="tooltip" data-placement="top" title="C"></a>
          <a class="iconNav" ng-click="$ctrl.changeOrder('Python')"><img ng-src="/image/python.png" style="height:30px; width:40px;" data-toggle="tooltip" data-placement="top" title="Python" "></a>
          <a class="iconNav" ng-click="$ctrl.changeOrder('Ruby')"><img ng-src="/image/ruby.png" style="height:20px; width:20px;" data-toggle="tooltip" data-placement="top" title="Ruby"></a>
          <a class="iconNav" ng-click="$ctrl.changeOrder('HTML')"><img ng-src="/image/HTML.png" style="height:25px; width:30px;" data-toggle="tooltip" data-placement="top" title="HTML"></a>
          <a class="iconNav" ng-click="$ctrl.changeOrder('CSS')"><img ng-src="/image/css.png" style="height:25px; width:20px;" data-toggle="tooltip" data-placement="top" title="CSS"></a>
          <a class="iconNav" ng-click="$ctrl.changeOrder('PHP')"><img ng-src="/image/php.png" style="height:25px; width:20px;" data-toggle="tooltip" data-placement="top" title="PHP"></a>
        </div>
        </nav>
        <ul>
          <li ng-repeat="beer in $ctrl.beer" ng-hide="$ctrl.orderBy"><a class="beerColor2" ui-sref ="beerShow({beerId: beer._id})">{{beer.name}}</a></li>

          <li ng-repeat="beer in $ctrl.beer | orderBy : $ctrl.orderBy : reverse = true" ng-show="$ctrl.orderBy"><a class="beerColor2" ui-sref ="beerShow({beerId: beer._id})">{{beer.name}}</a></li>

          <button ng-if="$ctrl.currentUser" class="beerColor"><a class="beerColor1" ui-sref="beerNew">Add Beer</button>
        </ul>
      </div>
    </div>
  </div>
<main>

