<div class = "beer">
	<li ng-show="$ctrl.loading">
  		<strong>Loading...</strong>
	</li>
	<div ng-hide="$ctrl.loading">
		<h3>Sort By Pairing Rating (Highest To Lowest):</h3>
		<div>
			<a ng-click=""></a> | 
			<a ng-click=""></a> | 
			<a ng-click=""></a> | 
			<a ng-click=""></a> | 
			<a ng-click=""></a> | 
			<a ng-click=""></a> | 
			<a ng-click=""></a> | 
			<a ng-click=""></a>
		</div>
		<button><a ui-sref="beerNew">Add Beer</button>
		<ul>
			<li ng-repeat="beer in $ctrl.beer"><a ui-sref ="beerShow({beerId: beer._id})">{{beer.name}}</a></li>
		</ul>
	</div>	
</div>
