<div class = "userInfo">
<h4>UserName: {{$ctrl.currentUser.username}}</h4>
<i>Email: {{$ctrl.currentUser.email}}</i>
<p><a ui-sref="userEdit">Edit Account</a></p>
<h2 id="reviewHeader">Reviews</h2>
 <div class="repeat" ng-repeat="review in $ctrl.currentUserReviews">
   <div class="reviewHeader">
     <span>{{review.username}}</span>
     <span>Language: {{review.pairing}}</span>
     <span>{{review.rating}}/5</span>
   </div>
   <div class="reviewContent">
     {{review.content}}
   </div>
   <div>
        <a ui-sref="reviewEdit({reviewId: review._id})">Edit Review</a>
    </div>
</div>
</div>
