<div class="beerShow">
  <img ng-src="{{$ctrl.current.imageUrl}}">
  <br>
  Name: {{$ctrl.current.name}}
  <br>
  Type: {{$ctrl.current.type}}
  <br>
  Brewery:{{$ctrl.current.brewery}}
  <br>
  Alcohol:{{$ctrl.current.alcoholPer}}
  <br>
  <div ng-repeat="average in $ctrl.currentAverages">
    {{average.type}}: {{average.average}}
  </div>
  <h1>Reviews</h1>
  <div ng-repeat="review in $ctrl.current.reviews">
    <div>{{review.username}}</div>
    <div>Language: {{review.pairing}}</div>
    <div>{{review.rating}}/5</div>
    <div>{{review.content}}</div>
  </div>
</div>
<h1>New Review</h1>
<review-new></review-new>

