
<div class="beerShow">
<div class="container">
<div class="card hovercard">
   <img src="/image/card.tif.jpg" alt=""/>
   <div class="avatar">
      <img class=class="img-responsive img-rounded hidden-xs" ng-src="{{$ctrl.current.imageUrl}}" alt=""/>
   </div>
   <div class="info">
      <div class="title">
        {{$ctrl.current.name}}
      </div>
      <div class="desc"></div>
      <div class="desc">{{$ctrl.current.type}}</div>
      <div class="desc">{{$ctrl.current.brewery}}</div>
      <div class="desc">Alchohol % :{{$ctrl.current.alcoholPer}}</div>
   </div>
   <div class="bottom" >
<!--       <button class="btn btn-default">Button</button> -->

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="address">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ordine">Add Review</button>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Modal -->
<div id="ordine" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Create a New Review for {{$ctrl.current.name}}</h4>
      </div>
      <div class="modal-body">
     <div id="reviewIsNewForm">
   <review-new></review-new>
   </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
</div>
</div>

<!-- starting table  -->
<div class="page">
 <h1 class="reviewh1">Reviews</h1>
<table class="layout display responsive-table">
    <thead>
        <tr >
            <th>Username</th>
             <th>Language</th>
            <th colspan="2">{{$ctrl.current.name}}'s Reviews</th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="review in $ctrl.current.reviews">
            <td class="organisationnumber">{{review.username}}</td>
            <td class="organisationname">{{review.pairing}}</td>
            <td class="actions">{{review.content}} </td>

            </td>
        </tr>
    </tbody>
</table>
 <h1 class="reviewh1">Rating Averages</h1>
   <div style="width: 45vw">
   <span class="average" ng-repeat="average in $ctrl.currentAverages">{{average.type}}: {{average.average}}</span>
   </div>
</div>
</div>

