
<div class="beerShow">
  <div class="beerImageWrapper">
   <img class="beerShowImage" ng-src="{{$ctrl.current.imageUrl}}">
  </div>
  <br>
  <br>
<div class ='beerShowContainer'>
<div class="container">
 <h2 style="text-align: center;"><u>{{$ctrl.current.name}}</u></h2>
 <h4>Rating Averages</h4>
   <div style="width: 80vw">
   <span class="average" ng-repeat="average in $ctrl.currentAverages">{{average.type}}: {{average.average}}</span>
   </div>
 </div>
 <div class="table-responsive">
 <table class="table">
   <thead>
     <tr>
       <th>Type</th>
       <th>Brewery</th>
       <th>Alcohol</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>{{$ctrl.current.type}}</td>
       <td>{{$ctrl.current.brewery}}</td>
       <td>{{$ctrl.current.alcoholPer}}</td>
     </tr>
   </tbody>
 </table>
 </div>
<h2 id="reviewHeader">Reviews</h2>
 <div class="repeat" ng-repeat="review in $ctrl.current.reviews">
   <div class="reviewHeader">
     <span class = 'review-user'>Reviewed By: {{review.username}} | <br></span>

     <span class = 'language'> Language: {{review.pairing}} | <br> </span>
     <span class = 'rating-review'>{{review.rating}}/5</span>
   </div>
   <div class="reviewContent">
     {{review.content}}
   </div>
</div>
<div id="reviewIsNewForm">
   <h4>New Review</h4>
   <review-new></review-new>
   </div>
</div>
</div>
