<div class="reviewNew">
<form ng-submit = "$ctrl.addReview()" id="newReviewForm">
<div>
  <label>Content</label>
  <input type = "text" name= "conent" ng-model="$ctrl.newReview.content">
  <br>
<label>Paring</label>
  <input type="text" name="pairing" ng-model="$ctrl.newReview.pairing">
  <br>
  <label for="rating">Rating</label>
  <select name="rating" ng-model="$ctrl.newReview.rating">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  </select>
  <input type="submit" name="create review">
</form>
</div>
</div>
<!--   <label>Rating</label>
  <input type="number" name="rating" >
  <br>
 -->
