<div class="jumbotron">...

</div>

<div class="container-register" >
 <div class="newUser form-group">
  <h2 id="account">Create Account</h2>
  <form class ='form-control register-form' ng-submit = "$ctrl.addNewUser()" method="POST">
    <div>
      <input class="input-group" type = "text" name= "username" placeholder='Username' ng-model='$ctrl.newUser.username'>
      <br>
      <input class="input-group" type="password" name="password" ng-model='$ctrl.newUser.password'placeholder='Password'>
      <br>
      <input class="input-group" type="text" name="email" ng-model='$ctrl.newUser.email' placeholder='Email'>
      <br>
      <button class= 'btn btn-warning'type="submit" value='create account'>Create Account</button>
    </div>
  </form>
 </div>
</div>
