<div class="reviewEdit">
<h1 class="reviewh1"> Edit Review</h1>
	<form ng-submit="$ctrl.updateReview()">
			<div>
			<label for="content">Review:</label>
			<input type="text" name="content" ng-model="$ctrl.current.content">
		</div>
		<div>
			<label for="pairing">Pairing</label>
			  <select name="pairing" ng-model="$ctrl.current.pairing">
			    <option value ="Javascript">Javascript</option>
			    <option value ="HTML">HTML</option>
			    <option value ="CSS">CSS</option>
			    <option value ="Ruby">Ruby</option>
			    <option value ="Python">Python</option>
			    <option value ="Java">Java</option>
			    <option value ="C">C</option>
			    <option value ="PHP">PHP</option>
			 </select>
		</div>
				<div>
			<label for="rating">Rating:</label>
			<select name="rating" ng-model="$ctrl.current.rating">
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			</select>
		</div>
		<div>
			<input type="submit" value="Save Review" class="submit">
		</div>
	</form>
</div>
