h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Alice', serif;
}
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}*/
@import "bourbon";

/*body {
  background: #eee !important;
}*/

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

  .form-signin-heading,
  .checkbox {
  margin-bottom: 30px;
  }


  .checkbox {
    font-weight: normal;
  }

  .form-control {
    background-color: inherit;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);


    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  /*input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}*/

.jumbotron{
  background-image: url('../image/DEvHops.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  margin-top:-20px;
  border: 4px solid black;
  margin-bottom: -2px;

/*-webkit-background-size:100% 100% ;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;*/

}
.navbar-nav{
  position: relative;
  left: 65%;

}
#account{
font-family: 'Libre Baskerville', serif;
font-style: italic;

}
nav{
  background-image: url('../image/footer.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black !important;
}
footer{
  background-color: black;
  height: 100px;
  /*padding-top: 20px;*/
}


.newUser{
  position: relative;
  left: 35%;
  text-align:center;
  /*border: 6px solid black;*/
  width: 400px;
  height: 350px;
  padding: 55px;
}
#beerNew{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  left: 68%;
  margin-top:-13%;
  margin-bottom: -10%;
  color: rgba(0,0,0,0);
  z-index: -1;
}
main{
  background-color: rgba(39, 25, 19, 1.0);
  background-size: 100%;
  margin-top:-2%;
}
#beer{
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 58%;
  margin-top: 25px;
  margin-bottom: -23%;
  color: rgba(0,0,0,0);
  z-index: 1;
  opacity: 0.6;
}
.container{
  position: absolute;
  bottom:80%;
  color: #914827;
}

.beerColor{
  color: #914827;
}

label {
  color: white;
}

.newBeer {
    width: 45%;
    height: 60%;
    padding: 20px 20px;
    margin:  auto;
    display: block;
    border: 2px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    text-align: center;

}

.newBeerForm {
  padding-top: 110px;
  display: block;
  margin: auto;
  width: 40em;
}

.ng-scope {
  background-image: url("http://i.imgur.com/gacq4zy.jpg");
  background-size: cover;
}

.container-register {
  background-color: #fbf7e9;
  /*margin:;*/
  /*padding: ;*/
  height: 500px;
}

footer p {
  text-align: center;
  color: white;
}

.GA-logo {
  height: 15px;
  position: relative;
}

#landing{
  background-image: url("/image/devhopslogo.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}

.enter-button {
    /*margin: 55vh 40vw 0 auto 40vw;*/
    max-height: 30px;
    /*max-width: 1000px;*/

}

.empty{
  padding-top: 175px;
  padding-right: 45px;
}
