/*body {
/*  padding: 50px;*/
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/
/*nav{
  padding-bottom: 20px;
}*/
a {
  color: #00B7FF;
}
/*.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}*/
@import "bourbon";

/*body {
  background: #eee !important;
}*/

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.jumbotron{
  background-image: url('../image/DEvHops.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  margin-top:-20px;

/*-webkit-background-size:100% 100% ;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;*/

}
.navbar-nav{
  position: relative;
  left: 65%;

}
#account{
font-family: 'Libre Baskerville', serif;
font-style: italic;

}
nav{
    background-image: url('../image/footer.jpg');
  background-repeat: no-repeat;
  background-size: contain;
   background-color: black !important;
}
footer{
  background-color: black;
  margin-top: 10%;
  padding-top: 20px;
}
.newUser{
  position: relative;
  left: 35%;
  text-align:center;
  border: 6px solid black;
  width: 400px;
  height: 200px;
}
#beerNew{
  background-image: url('../image/beerIndex.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  left: 68%;
  margin-top:-13%;
  margin-bottom: -10%;
  color: rgba(0,0,0,0);
  z-index: -1;
}
