<nav class="navbar navbar-toggleable-md navbar-bg-inverse navbar-fixed-top navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" ng-if="$ctrl.state.current.name !== 'home'">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand mb-0" href="/"><img class="navImg" src="/image/footer.jpg" width="130" height="50"></h1>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-if="$ctrl.state.current.name !== 'home'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" ui-sref="register">Sign Up</a><span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <a class="nav-link"  ui-sref="auth">Log-In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="beer">Beer Index</a>
      </li>
      <li class="nav-item" ng-show="$ctrl.currentUser">
      	<a class="nav-link" ui-sref="userShow">Account Info</a>
      </li>
      <li class="nav-item" ng-show="$ctrl.currentUser">
      	<a class="nav-link" ng-click="$ctrl.logout()" href="">Logout</a>
      </li>
    </ul>
  </div>
</nav>
