
<main class= "newBeerForm" style="height: 800px; width: 1200px;">
  <h1>Create A Beer</h1>
    <link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
      <br>
  <div class="newBeer">
    <form ng-submit = "$ctrl.addBeer()">
      <div>
        <label>Name</label>
        <br>
        <input type = "text" name= "name" ng-model= "$ctrl.newBeer.name" >
        <br>
        <label>Type</label>
        <br>
        <input type="text" name="type"  ng-model= "$ctrl.newBeer.type" >
        <br>
        <label>Brewery</label>
        <br>
        <input type="text" name="brewery" ng-model= "$ctrl.newBeer.brewery" >
        <br>
        <label>Alcohol % </label>
        <br>
        <input type="number" name="alcohol" ng-model= "$ctrl.newBeer.alcoholPer" >
        <br>
        <label>Image</label>
        <br>
        <input img="text" name="image" ng-model= "$ctrl.newBeer.imageUrl">
        <input type="submit" name="create account">
    </div>
 </div>
</main>

