<div class="newBeer">
<form ng-submit = "$ctrl.addBeer()">
<div>
  <label>Name</label>
  <input type = "text" name= "name" ng-model= "$ctrl.newBeer.name" >
  <br>
  <label>Type</label>
  <input type="text" name="type"  ng-model= "$ctrl.newBeer.type" >
  <br>
  <label>Brewery</label>
  <input type="text" name="brewery" ng-model= "$ctrl.newBeer.brewery" >
  <br>
  <label>Alcohol % </label>
  <input type="number" name="alcohol" ng-model= "$ctrl.newBeer.alcoholPer" >
  <br>
  <label>Image</label>
  <input img="text" name="image" ng-model= "$ctrl.newBeer.imageUrl">
  <input type="submit" name="create account">
</div>
</form>
</div>
<div id="beerNew" style="height: 650px; width: 400px;">...</div>
