<!-- <div class = "auth">
<h1>Sign In</h1>
<form ng-submit = "$ctrl.current.user">
<div>
  <label>UserName</label>
  <input type = "text" name= "username" >
  <br>
  <label>Password</label>
  <input type="Password" name="Password" >
  <br>
 <input type="submit" name="sign in">
</form>


</div>
 -->
   <div class="wrapper">
    <form ng-submit ="$ctrl.current.user" class="form-signin">
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
